body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: 'Manrope', sans-serif;
}

.container {
	margin:0 auto;
	max-width:1200px;
	width:1200px;

	
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.images {
    width:1200px;
    height:200px;
    display:flex;
    justify-content: space-between;
	position:relative;
}

.client1 p {
	width:293px;
	
}
.client2 p {
	width: 293px;
	
}
.client3 p {
	width: 293px;
	
}

 p {
	font-size:16px;
	font-weight:300;
}
	

						/* page posts*/


.blog_page_display {
	margin:0 auto;
	margin-top:25px;
	background-color:#e9e9e9;
	width:1200px;
	display:flex;
	justify-content:space-between;
	padding:5px;
	padding-left:10px;
	
}


.blog_page a {
	margin:0 auto;
	margin-top:25px;
	padding:5px;
	color:white;
	background-color:darkblue;
	text-transform:uppercase;
	text-decoration:none;
}

.blog_page h2 {
	font-weight:700;
}

.blog_page h4 {
	font-weight: 200;
	font-size:12px;
}

.blog_page p {
	font-weight: 400;
	font-size: 14px;
}

.title_page h2 {
	font-size:24px;
	font-weight:200;
}

/* video page*/

.video_page div {
	display:flex;
	justify-content:space-between;
}
.container h1 {
	font-weight:700;
	margin:0;
	margin-top:25px;
	margin-bottom:25px;
}
.video_page video {
	margin:0;
	padding:0;
}

.videos {
	margin:0;
}



/* nav in the top*/

.nav navbar-nav a {
	font-weight:500;
	color:white;
}

					/*Comments*/

.comment h7{
	color:gray;
	font-size:12px;
}

.comment h4 {
	color: black;
	font-weight:400;
	font-size:18px;
	

}
.comment h5 {
	color: black;
	font-weight: 800;
	font-size: 12px;
}

/*Anketa*/

.forma_anketa label {
	border-radius:5px;
}

.form_name {
	border-radius:5px;
}

/*About us*/

.metod_rab {
	margin: 0 auto;
	padding: 30px;
	margin-top: 70px;
	z-index: 1;
	background-color: #E7D8FA;
	height: 250px;
}

.metod_rab h1 {
		color: #1A142E;
}

.metod_rab h2 {
		color: #1A142E;
		margin: 0;
		font-weight: 700;
		margin-left: 50px;
		position: relative;
}

.fast_img {
	margin: 0;
	position: absolute;
	top: 29%;
	left: 16%;
	z-index: 1;
}

.methods {
	
	display: flex;
}

.methods_item {
	margin: 20px;
	flex: 1 1 0;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.methods_method {
	font-size: 32px;
	font-weight: 500;
}

.about_method {
	text-align: center;
	font-size: 14px;
}



.title {
	text-align: center;
	margin-top: 50px;
	font-size: 32px;
	font-weight: 500;
}

.title_pol p {
	font-size:24px;
	font-weight:300;
}

.title_pol h1 {
	font-weight:700;
	font-size:32px;
}
