body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: 'Manrope', sans-serif;
}

.container {
	max-width:1200px;
	width:1200px;

	
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.images {
    width:1200px;
    height:200px;
    display:flex;
    justify-content: space-between;
	position:relative;
}

.client1 p {
	width:293px;
	
}
.client2 p {
	width: 293px;
	
}
.client3 p {
	width: 293px;
	
}

 p {
	font-size:16px;
	font-weight:300;
}
	

						/* Настраиваем страницу со статьями*/


.blog_page_display {
	background-color:#e9e9e9;
	width:1200px;
	display:flex;
	justify-content:space-between;
	padding:5px;
	padding-left:10px;
}


.blog_page a {
	padding:5px;
	color:white;
	background-color:darkblue;
	text-transform:uppercase;
	text-decoration:none;
}

.blog_page h2 {
	font-weight:700;
}

.blog_page h4 {
	font-weight: 200;
	font-size:12px;
}

.blog_page p {
	font-weight: 400;
	font-size: 14px;
}

.title_page h2 {
	font-size:24px;
	font-weight:200;
}

/* страница с видео*/

.video_page div {
	display:flex;
	justify-content:space-between;
}
.container h1 {
	font-weight:700;
	margin:0;
	margin-top:25px;
	margin-bottom:25px;
}
.video_page video {
	margin:0;
	padding:0;
}

.videos {
	margin:0;
}

/* О нас*/

.about_text  {
	margin:0;
	margin-top:50px;
	font-size:24px;
	font-weight:300;
}
.about_text h2 {
	font-weight:700;
}
.about_text p {

	font-size: 24px;
	font-weight: 300;
}

/* навигация сверху*/

.nav navbar-nav a {
	font-weight:500;
	color:white;
}

					/*кооментарии*/

.comment h7{
	color:gray;
	font-size:12px;
}

.comment h4 {
	color: black;
	font-weight:400;
	font-size:18px;
	

}
.comment h5 {
	color: black;
	font-weight: 800;
	font-size: 12px;
}
