{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Кто мы?
Мы — рекламная типография «Colorprint». Мы делаем яркие цветные картинки на бумаге, делаем их хорошо и вовремя. Визитки и карманные календарики, папки и наклейки, листовки и перекидные календари, евробуклеты и флаерсы, открытки и приглашения, дипломы и каталоги, меню и плакаты, на обычной или нестандартной бумаге, с обычной или сложной обработкой — все это мы умеем и можем сделать быстро, необычно, иногда дешево и всегда хорошo.</p>

{% endblock %}
