{% extends "app/layout.html" %}

{% block content %}



<div class="about_text">
<h2>Кто же мы такие?</h2>
<p>Мы — рекламная типография «Colorprint». Мы делаем яркие цветные картинки на бумаге, делаем их хорошо и вовремя.Визитки и карманные календарики, папки и наклейки, листовки и перекидные календари, евробуклеты и флаерсы, открытки и приглашения, дипломы и каталоги, меню и плакаты, на обычной или нестандартной бумаге,с обычной или сложной обработкой — все это мы умеем и можем сделать быстро, необычно, иногда дешево и всегда хорошo.</p>
</div>
{% endblock %}
