{% extends "app/layout.html" %}
    
{% block content %}{% load staticfiles %}
       

      <div class="images">
          <a href ="https://magnit.ru/" target="_blank"> <img src="{% static 'app/content/magnit.png' %}" alt="Logo 1"/></a>
      <a href ="https://www.vtb.ru/" target="_blank"> <img src="{% static 'app/content/vtb.png' %}" alt="Logo 1"/></a>
          <a href ="https://www.vostbank.ru/" target="_blank"> <img src="{% static 'app/content/lenta.png' %}" alt="Logo 1"/></a>
      </div>

      
   
{% endblock %}

